## Very Basics
### Control Structures: For loops

In [2]:
languages = ['bash', 'python', 'R', 'clojure']

for programming_languages in languages:
    print(f'{programming_languages} is a very nice language!')

bash is a very nice language!
python is a very nice language!
R is a very nice language!
clojure is a very nice language!

In [10]:
for programming_language in languages: #nesting
    if programming_language == 'python':
        print(f'{programming_language} is my favorite!')
    else:
        print(f'{programming_language} is also nice.')

bash is also nice.
python is my favorite!
R is also nice.
clojure is also nice.

### Control Structures: While loops

In [13]:
i = 5
while i <= 10:
    print(i**i)
    i += 1

3125
46656
823543
16777216
387420489
10000000000

### Break & continue

#### Continue will skip to the next iteration of a loop
#### Break will stop executing the loop entirely

In [14]:
for n in range(100_000):
    print(n)
    if n > 10:
        break

0
1
2
3
4
5
6
7
8
9
10
11

In [16]:
for n in range(10):
    if n % 2 == 0:
        continue
    print(f'{n} is an odd number!')

1 is an odd number!
3 is an odd number!
5 is an odd number!
7 is an odd number!
9 is an odd number!

#### print the means for the numeric data

In [17]:
dataset = [{'name': 'age', 'type': 'int', 'data': [20, 25, 43, 11, 15, 53, 36]},
           {'name': 'is_vegetarian', 'type': 'boolean', 'data': [False, True, False, False, True, False, False]},
           {'name': 'shoe size', 'type': 'int', 'data': [8, 11, 7, 10, 7, 9, 10]},
           {'name': 'ISP', 'type': 'categorical', 'data': ['AT&T', 'Spectrum', 'Spectrum', 'Spectrum', 'AT&T', 'Spectrum', 'AT&T']},
           {'name': 'BMI', 'type': 'float', 'data': [29.9, 20.4, 23.3, 21.7, 22.2, 22.8, 27.0]}]

In [28]:
for feature in dataset:
    if feature['type'] == 'categorical' or feature['type'] == 'boolean':
        print('{} is not numeric, skipping'.format(feature['name']))
        continue
    avg = sum(feature['data']) / len(feature['data'])
    print('{} average: {:.2f}'.format(feature['name'], avg))

age average: 29.00
is_vegetarian is not numeric, skipping
shoe size average: 8.86
ISP is not numeric, skipping
BMI average: 23.90

#### prompt the user for a day of the week, print out whether the day is Monday or not

In [30]:
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [42]:
day = input('What day of the week is it? ').capitalize().strip()
if day == 'Monday':
    print('Today is Monday.')
else:
    print('Today is not Monday.')

What day of the week is it? tuesday
Today is not Monday.

#### prompt the user for a day of the week, print out whether the day is a weekday or a weekend

In [43]:
week_days = [ 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekend = ['Sunday','Saturday']

In [46]:
day2 = input('What day of the week is it? ').capitalize().strip()
if day2 in week_days:
    print('It is not the weekend')
elif day2 in weekend:
    print('It is the weekend')
else:
    print('Enter a proper weekday')

What day of the week is it?hjkh
Enter a proper weekday

#### create variables and make up values for the number of hours worked in one week, the hourly rate, how much the week's paycheck will be
#### write the python code that calculates the weekly paycheck. You get paid time and a half if you work more than 40 hours

In [58]:
hours = float(input('How many hours did you work this week? '))
rate = float(input('What is your hourly rate? $'))

overtime = hours - 40


if overtime > 0:
    weekly_pay = hours*rate + overtime*.5*rate
    print('Weekly pay is $', weekly_pay)
elif overtime <=0:
    weekly_pay = hours*rate
    print(f'Weekly pay is $ {weekly_pay: %.2f}')

How many hours did you work this week? 45
What is your hourly rate? $87.23
Weekly pay is $ 4143.425

### While loops

#### Create an integer variable i with a value of 5.
#### Create a while loop that runs so long as i is less than or equal to 15
#### Each loop iteration, output the current value of i, then increment i by one.

In [60]:
i = 5
while i <= 15:
    print(i)
    i += 1

5
6
7
8
9
10
11
12
13
14
15

#### Create a while loop that will count by 2's starting with 0 and ending at 100. Follow each number with a new line.

In [61]:
i = 0
while i <100:
    print(i)
    i += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

#### Alter your loop to count backwards by 5's from 100 to -10.

In [63]:
i = 100
while i >= -10:
    print(i)
    i -=5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5
0
-5
-10

#### Create a while loop that starts at 2, and displays the number squared on each line while the number is less than 1,000,000

In [70]:
i = 2
while i < 1_000_000:
    print(i)
    i = i**2

2
4
16
256
65536

In [71]:
i = 100
while i >= 5:
    print(i)
    i -=5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

### For loops

#### Write some code that prompts the user for a number, then shows a multiplication table up through 10 for that number.

In [74]:
number = int(input('Choose a whole not equal to 0: '))
print('Multiplication Table')
for x in range(1,11):
    print(number, 'X', x, '=', number*x )

Choose a whole not equal to 0: 5
Multiplication Table
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [78]:
x = 1

for x in range(1,10):
    print(str(x) * x)

1
22
333
4444
55555
666666
7777777
88888888
999999999